{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags%}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
    <h1> Hello Savvy </h1>
    {% image page.banner_image fill-1400x200 as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}">
    <br>
    Banner:
    <h3>{{page.banner_title }}</h3>

    Snipit:
    <h4>{{page.snipit}}</h4>
    <hr>
    <p> Body: <p>
        {% include_block page.body %}

        Author section: 
        <p>
            {% image page.author.image fill-100x100 %}
            Page created by {{ page.author.name}}
            from {{ page.author.company_name }}
            {% if page.author.company_url %}
                <a href = "{{ page.author.company_url }}"> Visit Website </a>
            {% endif %}

        </p>

{% endblock content %}
